<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block css %}
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
{% endblock %}

{% block header %}
	<header>
        <h2 class="userName"><a href="/"><</a></h2>
        <h2 class="affiliation"> Преподаватель</h2>
{#        <a href="{% url 'users:logout' %}" class="logout">Выйти</a>#}
    </header>
{% endblock %}

{% block content %}
	
{% endblock %}

{% block footer %}
	
{% endblock %}
</body>
</html>