{% extends 'base.twig' %}

{% block css %}
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/narrowColumn.css" rel="stylesheet">
    <link href="/css/base.css" rel="stylesheet">
{% endblock %}

{% block header %}
    <header>
        <h2 class="userName"><a href="/"><</a></h2>
        <h2 class="affiliation"> Преподаватель</h2>
    </header>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="leftblock"></div>
        <div class="center">
            <div class="groups">
                {% for student in students %}
                    <a href="/user/works/{{ student.userId }}"><div class="groupCard cenralize"><h2>{{ student.first_name }} {{ student.last_name }}</h2></div></a>
                {% endfor%}
            </div>
        </div>
        <div class="rightblock"></div>

    </div>
{% endblock %}

